@font-face {
  font-family: "beautiful font";
  src: url('src\assets\fonts\beautiful font.ttf');
}
@font-face {
  font-family: "UD Digi Kyokasho NP-R";
  src: url('src\assets\fonts\UDDigiKyokashoN-R.ttc');
}
