@font-face {
  font-family: "beautiful font";
  src: url('C:\Users\sa092\wasoukai_hp_front\src\assets\fonts\beautiful font.ttf');
}
@font-face {
  font-family: "UD Digi Kyokasho NP-R";
  src: url('C:\Users\sa092\wasoukai_hp_front\src\assets\fonts\UDDigiKyokashoN-R.ttf');
}
